@model Service.DTOs.CreateModelDTO
@{
    ViewData["Title"] = "CreateModel";
}

<h1>Create Model</h1>
<form asp-controller="Vehicle" asp-action="CreateModel" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MakeId"></label>
        <select asp-for="MakeId" asp-items=@ViewBag.SelectList required>
            <option value="" disabled selected>Choose Vehicle Maker</option>
        </select>
        <span asp-validation-for="MakeId" class="text-danger"></span>
    </div>
    <input type="submit" value="Create Model" />
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 