@model Service.DTOs.EditMakeDTO
@{
    ViewData["Title"] = "EditMake";
}

<h1>Edit Make</h1>
<form asp-controller="Vehicle" asp-action="EditMake" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Save Changes" />
</form>
@section Scripts{ 
@{<partial name="_ValidationScriptsPartial" />}
}
