@model IEnumerable<ModelGetViewModel> 
@{
    ViewData["Title"] = "Model";
}

<h1>Vehicle Models</h1>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Make
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model)
            {
                <tr>
                    <td>@make.Name</td>
                    <td>@make.makeName</td>
                </tr>
            }
        </tbody>
    </table>
}